.App {
  text-align: center;
}
 
.header{
  background-color: rgb(196, 94, 81);
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: bold;
}

.form{
  background-color: #3AD886;
  padding: 20px;
  width: 200px;
  border-radius: 15px;
}

.product{
  background-color: #D34735;
  width: 50vh;
  padding: 20px;
  border-radius: 15px;
  /* display: flex; */
  
}